
<div class="container">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <h1>Show</h1>

    <ul class="recipes">
      <%= render @recipe %>
    </ul>
  </div>
  <div class="col-md-2"></div>
</div>
