@import 'bootstrap-sprockets';
@import 'bootstrap';

.recipe {
  position: relative;
  text-align: center;
}

.bottom-left {
  position: absolute;
  bottom: 2px;
  left: 8px;
  top: 125px;
}

.category {
  margin-top: 20px;
  height: 44px;
  width: 149px;
}

.item-recipe {
  height: 350px;
  width: 250px;
}

.avatar-show {
  width: 175px;
  height: 175px;
}
