@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  background-color: #f0f0f0;
  margin: 120px 0 0 0;
}
.new_recipe {
  padding: 20px 20px 100px 20px;
  background-color: white;
  border-radius: 10px;
  margin: 0 0 100px 0;
}

.field-label {
  border-left: 3px solid #d43f3a;
  padding: 3px 8px;
  margin: 0 0 10px 20px
}

.field-input {
  margin: 0px 0 30px 0;
}

.submit-button{
  float: right;
  padding: 8px 20px 6px 20px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}

textarea {
  resize: none;
  overflow: auto;
  min-height: 100px;
}
