.step-order {
  color: red ;
}

.ingredient-item {
  color: green ;
}

.ingredient-amount {
  color: grey ;
  font-size: 14px ;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

#calc-amount {
  width: 66px;
}

.form-calc {
  margin-top: ‒10;
  padding-top: 20px;
}

.same-purpose {
  width: 295px;
}

.main-recipe {
  width: 734px;
}

.user-info {
  width: 200px
}

